@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 0px 150px 150px 150px;
    margin: 0;
    background-color: #1f2937;
}

.header-content {
    display: flex;
    padding-top: 20px;
    padding-bottom: 100px;
    justify-content: space-between;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    max-width: 450px;
    color: #f9faf8;
}

.hero-secondary-text{
    font-size: 18px;
    max-width: 450px;
    padding-bottom:10px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}
.header-image {
    width: 540px;
    height: 220px;
}